@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-size: 16px;

}

.font-oswald {
    font-family: 'Oswald', sans-serif;
}

.font-roboto {
    font-family: 'Roboto Condensed', sans-serif;
}

.swiper-pagination-bullet-active{
    background-color: #dde244!important;
}
.swiper-pagination-bullet{
    border: 1px solid #dde244;
}
.swiper-button-prev {
color: #dde244!important;
}
.swiper-button-next {
color: #dde244!important;
}


.rdrMonth{
    width: 100%!important;
}
.rdrCalendarWrapper {
    width: 100%!important;
}
